<%- include('header'); -%>

<div class="box" id="heading">
    <h1><%= listTitle %> List</h1> <!--  is a marker-->
</div>
<div class="box">
    <%  newListItems.forEach(function (newListItem) { %>  
        <form action="/delete" method="POST">
            <div class="item">
                <input type="checkbox" name="checkbox" value="<%=newListItem._id%>" onChange="this.form.submit()"> <!--ticking the checkbock will tap the submit()-->
                <p> <%= newListItem.name %> </p><!-- a new list is created in each loop-->
            </div>

        </form>           
   
    <%  }) %>
    <form action="/" method="POST">
        <input type="text" name="newItem" placeholder="New item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>

</div>


<%- include('footer'); -%>